 ====Start===================

/* menu bar above unified toolbar */ #toolbar-menubar { order: -1 !important; }

/* Move window controls up to the menu bar */ .titlebar-buttonbox-container { position: fixed; top: 0px; right: 0px; height: 19px !important; /* adjust if necessary */ }

#folderPane,

#folderPaneHeaderBar { background-color: #F4F4F5 !important; }

#unifiedToolbar {

height: 40px !important;

padding-block: 1px !important;

margin-block: 0px !important;

background: #174a70 !important;

color: white !important;

}

#folderPaneWriteMessage { background-color: #174a70 !important; border: 1px solid white !important; color: white !important; }

*{ font-family: Aptos !important; }

#threadTree tbody [data-properties~="unread"] {

font-family : Aptos !important;

font-weight: Bold !important;

color: #1373d9 !important }

======End======================================= 
